<!-- Modal -->
<div class="modal fade" id="portfolioItemDisplay" data-id="" tabindex="-1" role="dialog" aria-labelledby="portfolioItem">
  <div class="modal-dialog full-page-dialog" role="document">
    <div class="modal-content">
      <div id="modalOverlay" class="modalOverlay">
        <h3 class="modalStatusMsg"><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></h3>
      </div>
        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times fa-2x" aria-hidden="true"></i></button>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="portfolioItemInfoWrapper col-md-4">
              <div class="col-md-11 center-block">
                <h4 class="portfolioTitle"></h4>
                <div class="portfolioThumbnail thumbnail">
                  <img src="assets/img/placeHolder320x400.png" width="100%" alt="" />
                </div>
                <div class="portfolioMetaInfo"></div>
              </div>
            </div>
            <div class="portfolioItemContentWrapper col-md-8">
              <div class="col-md-10 center-block">
                <div class="portfolioDescriptionContent"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>