<footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul>
                            <li>mobiuszero copyright &copy; <span id="year"></span><script> var d = new Date(); var n = d.getFullYear(); document.getElementById("year").innerHTML = n; </script></li>
                            <li>Privacy Policy</li>
                        </ul>
                    </div> 
                </div>
            </div>
        </footer>
        <!-- jquery script -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!-- bootstrap plugins -->
        <script src="assets/js/scripts.min.js?v=3.3.5"></script>
        {{>modal}}