<footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="text-center">
                            <li>MobiusZero &copy; <span id="year"></span> <script> var date = new Date(); var get_year = date.getFullYear(); document.getElementById("year").innerHTML = get_year; </script></li>
                        </ul>
                    </div> 
                </div>
            </div> 
        </footer>
        <!-- ======================  -->
        {{>modal}}
        <!-- ======================  -->
        <!-- bootstrap plugins -->
        <script src="assets/js/scripts.min.js?v=3.3.7"></script>
         