<footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li>copyright &copy; 
                            <span id="year"></span>
                            <script> 
                                var date = new Date(); 
                                var get_year = date.getFullYear(); 
                                document.getElementById("year").innerHTML = get_year; 
                            </script>, mobiuszero </li>
                            <li>Privacy Policy</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="social_media text-right">
                            <li><a href="https://github.com/zero12o"><i class="fa fa-github"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/carlos-vargas-16b41b107"><i class="fa fa-linkedin-square"></i></a></li>
                            <li class="social_media"><a href="https://plus.google.com/u/1/109886193538627695155/about"><i class="fa fa-google-plus-square"></i></a></li>
                            <li><a href="https://twitter.com/mobiusZero12o"><i class="fa fa-twitter-square"></i></a></li>
                        </ul>
                    </div> 
                </div>
            </div>
        </footer>
        <!-- jquery script -->
        <script async src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!-- bootstrap plugins -->
        <script async src="assets/js/scripts.min.js?v=3.3.5"></script>