<footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul>
                            <li>Lorem ipsum dolor sit amet copyright &copy; <span id="year"></span><script> var d = new Date(); var n = d.getFullYear(); document.getElementById("year").innerHTML = n; </script></li>
                            <li>Home</li>
                            <li>Contact Us</li>
                            <li>Disclaimer</li>
                            <li>Terms and Conditions</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
                    </div>
                </div>
            </div>
        </footer>
        <!-- Add your site or application content here -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!-- bootstrap plugins -->
        <script src="assets/js/scripts.min.js?v=3.3.5"></script>
        {{>google_analytics}}
        {{>modal}}