<div id="main_menu" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Brand</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar_mainmenu">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars fa-lg fa-inverse"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar_mainmenu">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Home</a>
                </li>
                <li><a href="#">Products</a> 
                </li>
                <li><a href="#">About Us</a>
                </li>
                <li><a href="#">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</div>