//  Theme made my Mobiuszero. 
//  bulid version 0.2.5
//  
// -------------------------
// 	Table of contents
// 	-----------------
//  i. imports
// 	ii. variables
// 		- Background
// 		- Font Family 
// 		- Font Colors
// 		- Bullet Icons And Colors
//  iii. functions
// 	1. Font 
// 	2. Layout
// 	3. Unordered & Ordered Lists
//  4. Footer
//  5. Modal
//  6. Buttons
//  7. Bonus Sections Animations
// 
// 
// 
//  
// ----------------------------
// i. imports
// ************************
@import "bourbon"; 
@import "bootstrap";
@import "font-awesome";
@import "web-fonts";
@include web-fonts(("Droid Sans": ("400","700")), "Oswald");
// ii. variables 
// ************************
// - Background
	$base_bgcolor: #1f616f;
	$image_titlebg: url('../img/titlebg.png');
	$secondary_bgcolor: #ffffff;
	$video_overlay_bgcolor: #212121;
	$bonus_bgcolor: #e1e1e1;
	$footer_bgcolor: #212121;
// - Font Family
	$base_font-family: 'Droid Sans', sans-serif;
	$heading_font-family: 'Oswald', sans-serif;
	$list_font-family:  'FontAwesome';
//  - Font Colors
	$base_fontColor: #212121;
	$sub_fontColor: #ffffff; 
	$heading_fontColor: #1c1c1c;
	$text-danger_fontColor: #d90000;
//  - Bullet Icons And Colors
	$icon_listColor: (
		airplane: #31559c,
		vector-graph: #42a03f,
		money: #587852,
		insitute: #656565,
		lock: #8c2217,
		mapp: #3da9aa,
		location: #c02a08,
		exit: #d32029,
		bar-graph: #6FA669
	);
	$icon_listBullets: (
		airplane: '\f072',
		vector-graph: '\f1fe',
		money: '\f0d6',
		insitute: '\f19c',
		lock: '\f023',
		mapp: '\f279',
		location: '\f041',
		exit: '\f08b',	
		bar-graph: '\f080', 
		check: 	'\f00c',
		circled-check: '\f058',
		bullet: '\f111'
	);
	$fa_bullets_check_color: #128915;

// iii. functions
// ************************
	@mixin border-radius($box) {
		@include prefixer(border-radius, $box, webkit moz spec);
	}

// 1. Font 
// ========================
	body {
		font-family: $base_font-family;
		font-size: 16px;
	}
	@for $heading from 1 through 6 {
		h#{$heading},.h#{$heading} {
			font-family: $heading_font-family;
			font-weight: 800;
			line-height: 1.30;
			@include margin(null null 3% null);
		}
	}

	$heading_sizes: ( 2: 42px, 3: 36px, 4: 30px, 5: 24px, 6: 20px ); 

	@each $heading, $value in $heading_sizes {
		h#{$heading}, .h#{$heading} {
			font-size: em($value);
		}
	}

	.text-danger {
		color: $text-danger_fontColor;
	}
	// font styles
	.text-underline {
		text-decoration: underline;
	}
// 2. Layout
// =======================
	body {
	    overflow-x: hidden;
	}
	section,div,body {
		position: relative;
	}
	.module {
		min-height: 100vh;
		@include padding(2.5% null 2.5% null);
	}
// title section  
	section.title.module {
		@include padding(0 null 0 null);
	}
	section.title { 
		// background-color: darken($base_bgcolor, 5%);
		// background-image: $image_titlebg;
	    // background-position: center center;
	    // background-size: 100%;
	    // background-repeat: no-repeat;
	    // background-attachment: fixed;
	    color: $sub_fontColor;
	    border-right: none;
	    border-left: none;
		@include margin(null null null null);
		& .container { 
			@include padding(3.25% null 3.25% null);
		}
		& h1 {
			font-size: em(58);
			padding-top: em(1.25);
			line-height: 1.50;
		}
		& .fa-inverse {
			color: $sub_fontColor;
		}
		& .video-btn {
			position: absolute;
			top: 85%;
			left: 2%;
		}
		& {
			video {
				position: fixed;
				top: 50%;
				left: 50%;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				z-index: -100;
				transform: translateX(-50%) translateY(-50%);
				background-image: url('../assets/img/Hello-World.jpg') no-repeat;
				background-size: cover;
				transition: 2s opacity;
			}
			.videoverlay {
				position: fixed;
				top: 50%;
				left: 50%;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				z-index: -100;
				transform: translateX(-50%) translateY(-50%);
				background-color: rgba($video_overlay_bgcolor, 0.65);
			}
		}
	}
// main content section 
	section.content {
		background-color: $secondary_bgcolor;
	}
// bonus section 
	section.bonus {
		background-color: $bonus_bgcolor;
	}
// 3. Unordered & Ordered Lists
// =========================
//  
// 	Legend 
// ---------------------
// icon--airplane
// icon--vector-graph
// icon--money
// icon--insitute
// icon--lock
// icon--mapp
// icon--location
// icon--exit
// icon--bar-graph
// icon--check
// icon--circled-check
// icon--bullet
// ---------------------
// 
// How to use: 
// On your html doc, you will add the class "fa_bullets" to your <ul> tag then add the what you want from the legend to the html doc. 
// 
//  Your change the select_fa_bullets_mode value below are the available options: 
//  full_mode = renders all the icons
//  check_icon = renders all is needed for the check icon
//  check_circle_icon =  renders the circle-check icon
// - Options 
	$select_fa_bullets_mode: full_mode;

	ul.fa_bullets li {
		list-style: none;
		@include margin (1.5% null null 3.5%);
	}

	ul.fa_bullets > li:before {
	    @include position(absolute, null null null 2.25%);
	    font-size: em(45);
		font-family: $list_font-family;		
	}

	@if $select_fa_bullets_mode == full_mode {
	// Use this to display the icon in the first level of the unordered list <ul> tag
		@each $listBullet_Color, $iconColor in $icon_listColor {
			ul.fa_bullets.icon--#{$listBullet_Color} > li:before {
				color: #{$iconColor};
			}
			 
		}
		@each $listBullet_icon, $icon in $icon_listBullets {
			ul.fa_bullets.icon--#{$listBullet_icon} > li:before {
				content: "#{$icon}";
			}
		}
	// This is for individual icon use only. Individual icons that need to be inserted, Should be in the <li> tag as a class to display as you see in the sample page refer to legend for the class name to be used. 
		@each $listBullet_Color, $iconColor in $icon_listColor {
			ul.fa_bullets > li.icon--#{$listBullet_Color}:before {
				color: #{$iconColor};
			}
			 
		}
		@each $listBullet_icon, $icon in $icon_listBullets {
			ul.fa_bullets > li.icon--#{$listBullet_icon}:before {
				content: "#{$icon}";
			}
		}
	} @else if $select_fa_bullets_mode == check_icon {
		ul.fa_bullets.icon--check > li:before {
				content: '\f00c';
				color: $fa_bullets_check_color;
		}
	} @else if $select_fa_bullets_mode == check_circle_icon {
		ul.fa_bullets.icon--circled-check > li:before {
				content: '\f058';
				color: $fa_bullets_check_color;
		}
	}

// 4. Footer 
// =========================
	footer {
		@include padding (5% null 2.5% null);
		color: $sub_fontColor;
		background: $footer_bgcolor;
	}
	footer ul {
		list-style: none;
		text-align: center;
	}
	footer ul li {
		display: inline;
		@include padding (null 1% null 2%);
		border-left: 1px solid #fff;
	}
	footer ul li:first-child{
		padding-left: 0%;
		border-left: none;
	}
	footer li a {
		color: $sub_fontColor;
	}
	footer p {
		text-align: justify;
	}
// 5. Modals 
// =========================
	.modal-footer, .modal-header {
		border-top: none;
		border-bottom: none;
	}
	.modal-body {
		@include padding (1.5% 5.5% 4.5% 5.5%);
		& .btn-lg {
		    font-size: 24px;
		    font-weight: 700;
		}
		& p {
			@include margin(4.5% null null null);
		}
		& h2 {
			font-size: em(34);
			@include margin(null null 5.5% null);
		    @include margin (null null 5.5% null);
		}
	}
	.close {
		opacity: 1;
	}

// 6. Buttons
// =========================
	.btn-warning {
	    font-size: 1.85em;
	    color: #000;
	    background-color: #FFFF18;
	    @include padding (null 3.5% null 3.5%);
	    @include margin (3.5% null null null);
	    @include transition(all 500ms ease);
	}

	.video-btn { 
		background: none;
		border: none;
		&:hover,&:focus,&:active {
		outline: 0; // to remove the blue border of the button when clicked.
		}
	} 
// 7. Bonus Sections Animations
// =========================
	section.bonus {
		& .bonus_item {
		    min-height: em(20);
		    padding: em(19);
		    margin-bottom: em(20);
		    background-color: #f5f5f5;
		    border: 1px solid #e3e3e3;
		    border-radius: 4px;
		    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.20);
		    box-shadow: inset 0 1px 1px rgba(0,0,0,0.20);
		    @include animation (fade_in 550ms ease-in);
		     
		    & .img-thumbnail {
		    	margin-top: em(18px);
		    }
			&:nth-of-type(2) {
		    	@include animation (fade_in 1s ease-in);
			}
			&:nth-of-type(3) {
		    	@include animation (fade_in 1.65s ease-in);
			}
		}

		@include keyframes(fade_in) {
			0% {
				@include opacity(0);
				@include transform(translateY(75px));
			}
			100% {
				@include opacity(1);
				@include transform(translateY(0px));
			}
				
		}
	}