//  Theme made my Mobiuszero. 
//  bulid version 0.5.0
//  
// -------------------------
// 	Table of contents
// 	-----------------
//  i. imports
// 	ii. variables
// 		- Background
// 		- Font Family 
// 		- Font Colors
// 		- Bullet Icons And Colors
//  iii. functions
//  iv. Miscellaneous
// 	1. Font 
// 	2. Layout
// 	3. Unordered & Ordered Lists
//  4. Footer
//  5. Modal
//  6. Buttons
//  7. Portfolio Section
//  8. Main Menu 
//  9. Title Section 
// 10. Carousel 
// 11. Testimonials Carousel
// 12. Contact Section
// 13. Content Section
//  
// ----------------------------
// i. imports
// ************************
@import "bourbon"; //multipurpose functions
@import "bootstrap";
@import "font-awesome";
@import "web-fonts";
@font-face {font-family: 'PRISTINA'; src: url('font/PRISTINA.eot'); src: local('PRISTINA'), url('font/PRISTINA.woff') format('woff'), url('font/PRISTINA.ttf') format('truetype'); }
@include web-fonts(("Droid Sans": ("400","700")), ("Droid Serif": ("400","700")));
@import "sass_mq"; //media queries function call
// ii. variables 
// ************************
// - Background
	$base_bgcolor: #212121;
	$secondary_bgcolor: #ffffff;
	$image_titlebg: url('../img/titlebg.png');
// - Font Family
	$base_font-family: 'Droid Sans', sans-serif;
	$heading_font-family: 'Droid Serif', sans-serif;
	$fa_font-family:  'FontAwesome';
	$logo_font-family: 'PRISTINA';
//  - Font Colors
	$base_fontColor: #212121;
	$sub_fontColor: #ffffff; 
	$heading_fontColor: #1c1c1c;
	$text-danger_fontColor: #d90000;
//  - Bullet color
	$fa_bullets_check_color: #128915;

// iii. functions
// ************************
	@mixin border-radius($box) {
		@include prefixer(border-radius, $box, webkit moz spec);
	}

// 1. Font 
// ========================
	body {
		font-family: $base_font-family;
		font-size: 16px;
		color: lighten($base_fontColor, 20%);
		font-kerning: normal;
	}
	p {
		font-size: em(18);
	}
	.module {
		& 	a {
			text-decoration: underline;
		}
	}
	@for $heading from 1 through 6 {
		h#{$heading},.h#{$heading} {
			font-family: $heading_font-family;
			font-weight: 800;
			line-height: 1.30;
			@include margin(null null 3% null);
		}
	}
	// I dont like the way I have done this and I have to revist this in the future. 
	$heading_sizes: ( 2: 40px, 3: 36px, 4: 26px, 5: 18px, 6: 16px );
	@each $heading, $value in $heading_sizes {
		h#{$heading}, .h#{$heading} {
			font-size: em($value);
			color: lighten($base_fontColor, 23%);
		}
	}
	.logo {
		font-family: $logo_font-family;
	}
	.text-danger {
		color: $text-danger_fontColor;
	}
	// font styles
	.text-underline {
		text-decoration: underline;
	}
// 2. Layout
// =======================
	body {
	    overflow-x: hidden;
	}
	section,div,body {
		position: relative;
	}
	.module {
		min-height: 100vh;
		@include padding(2.5% null 2.5% null);
	}
// title section  
	section.title { 
		// background-color: darken($base_bgcolor, 5%);
		// background-image: $image_titlebg;
		// background-position: center center;
		// background-size: 100%;
		// background-repeat: no-repeat;
		// background-attachment: fixed;
	}
// main content section 
	section.content {
		background-color: $secondary_bgcolor;
	}
// bonus section 
	section.portfolio {
		background-color: $base_bgcolor;
	}
// blockquote 
blockquote {
	position: relative;
	margin-top: em(25);
	margin-bottom: em(25);
	& p::before {
		font-family: $fa_font-family; 
		content: "\f10d \00a0";
		font-size: em(31.5);
	    position: absolute;
	    top: em(-3px);
	    left: em(10px);
	    color: lighten($base_fontColor, 75%)
	}
	& p {
		padding-left: em(42.5px);
		text-align: justify;
	}
	& p::after {
		font-family: $fa_font-family; 
		content: "\00a0 \f10e";
		font-size: em(25.5);
		position: absolute;
		padding-left: em(5px);
	    color: lighten($base_fontColor, 75%)
	}
	& footer { // since I have used "footer" tag for the sites footer background. 
		background: rgba($base_bgcolor, 0.0); 
	}
}
// 3. Unordered & Ordered Lists
// =========================

	ul.fa_bullets li {
		list-style: none;
		@include margin (1.5% null null 3.5%);
	}

	ul.fa_bullets > li:before {
	    @include position(absolute, null null null 5.05%);
	    font-size: em(20);
		font-family: $fa_font-family;		
	}

	ul.fa_bullets.icon--check > li:before {
			content: '\f00c';
			color: $fa_bullets_check_color;
	}

	ul.fa_bullets.icon--circled-check > li:before {
			content: '\f058';
			color: $fa_bullets_check_color;
	}

	ol.big-number {
		margin-top: 2.5%;
		counter-reset: big-numbers;
		list-style: none;
		& li {
			margin-bottom: 5.5%;
			margin-left: 3.55%;
			&:last-child {
				margin-bottom: 0.5%;
			}
		}
		& li:before {
			content: counter(big-numbers) ". ";
			counter-increment: big-numbers;
			font-size: em(33);
			font-weight: 700;
			position: absolute;
			left: 4.0%;
			margin-top: -1.7%;
		}
	}


// 4. Footer 
// =========================
	footer {
		@include padding (5% null 2.5% null);
		color: $sub_fontColor;
		background: $base_bgcolor;
		& ul {
			list-style: none;
			padding-left: 0;
			padding-right: 0;
		}
		& ul li {
			display: inline;
			@include padding (null 1% null 2%);
			border-left: 1px solid #fff;
		}
		& ul li:first-child{
			padding-left: 0%;
			border-left: none;
		}
		& li a {
			color: $sub_fontColor;
		}
		& ul.social_media li {
			border-left: none;
    		line-height: 0;
			& a {
				font-size: em(25);
			}
		}
		& p {
			text-align: justify;
		}
	}
// 5. Modals 
// =========================
	.modal-footer, .modal-header {
		border-top: none;
		border-bottom: none;
	}
	.modal-body {
		@include padding (1.5% 5.5% 4.5% 5.5%);
		& .btn-lg {
		    font-size: 24px;
		    font-weight: 700;
		}
		& p {
			@include margin(4.5% null null null);
		}
		& h2 {
			font-size: em(34);
			@include margin(null null 5.5% null);
		    @include margin (null null 5.5% null);
		}
	}
	.close {
		opacity: 1;
	}

// 6. Buttons
// =========================
	.video-btn { 
		background: none;
		border: none;
		&:hover,&:focus,&:active {
		outline: 0; // to remove the blue border of the button when clicked.
		}
	} 
// 7. Portfolio Section
// =========================
	section.portfolio {
		padding-bottom: em(60px);
		& h2 {
			@include mq($from: mobile, $until: desktop){
				font-size: em(30);
			}
		}
		& div.col-md-10, div.col-md-10 h2 {
			color: $sub_fontColor;
		}
		& .row:nth-of-type(2) {
			margin-top: em(10px);
			@include mq($from: mobile, $until: desktop){
				margin-top: em(0.5px);
			}
			& div.col-md-4 {
				padding-left: 5px;
				padding-right: 5px;
				@include mq($from: mobile, $until: desktop){
					margin-top: em(10px);
				}
			}
		}

		& div.portfolio_bloc {
			color: $sub_fontColor;
			position: relative;
			list-style: none;
			display: block;
			width: 100%;
			list-style: none;
		     animation-name: fade_in;
			 animation-duration: 650ms;
			 animation-timing-function: ease-in;
			 animation-fill-mode: forwards;
			@include keyframes(fade_in) {
				0% {
					@include opacity(0);
					@include transform(translateY(75px));
				}
				100% {
					@include opacity(1);
					@include transform(translateY(0px));
				}	
			}
			& {
				/* Common style */
				figure {
					position: relative;
					overflow: hidden;
					cursor: pointer;
				}
				 // Solved strange flicking of the first element with this transition effect.
				figure img {
					transition: opacity 300ms;
					-webkit-backface-visibility: hidden; //Chrome
					overflow: hidden; //Chrome
					width: 100%;
				}

				figure figcaption {
					color: $sub_fontColor;
					text-transform: uppercase;
					font-size: 1.25em;
					-webkit-backface-visibility: hidden;
					backface-visibility: hidden;
				}

				figure figcaption::before,
				figure figcaption::after {
					pointer-events: none;
				}

				figure figcaption,
				figure figcaption > a {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}

				/* Anchor will cover the whole item by default */
				/* For some effects it will show as a button */
				figure figcaption > a {
					z-index: 1000;
					text-indent: 200%;
					white-space: nowrap;
					font-size: 0;
					opacity: 0;
				}

				figure h4 {
					word-spacing: -0.25em;
					letter-spacing: 0px;
					font-weight: 300;
					font-size: em(18px);
					@include mq($from: mobile, $until: desktop){
						font-size: 0.85em;
					}
				}

				figure h4,
				figure p {
					margin: 0;
				}

				figure p {
					letter-spacing: 1px;
					font-size: 68.5%;
				}
				// Effect
				figure figcaption {
					top: auto;
					bottom: 0;
					padding: 1em;
					height: 4.5em;
					background: #fff;
					color: #3c4a50;
					-webkit-transition: -webkit-transform 0.35s;
					transition: transform 0.35s;
					-webkit-transform: translate3d(0,100%,0);
					transform: translate3d(0,100%,0);
				}
				figure:hover img {
					opacity: 0.1;
				}
				figure p.icon-links a {
					float: right;
					color: #3c4a50;
					font-size: 1.4em;
				}

				figure:hover p.icon-links a:hover,
				figure:hover p.icon-links a:focus {
					color: #252d31;
				}

				figure p.description {
					position: absolute;
					bottom: 10em;
					padding: 2em;
					color: #fff;
					text-transform: none;
					opacity: 0;
					-webkit-transition: opacity 0.35s;
					transition: opacity 0.35s;
					-webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
				}

				figure h4,
				figure p.icon-links a {
					-webkit-transition: -webkit-transform 0.35s;
					transition: transform 0.35s;
					-webkit-transform: translate3d(0,200%,0);
					transform: translate3d(0,200%,0);
				}

				figure p.icon-links a i::before {
					display: inline-block;
					padding: 8px 10px;
					speak: none;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}

				figure:hover p.description {
					opacity: 1;
				}

				figure:hover figcaption,
				figure:hover h4,
				figure:hover p.icon-links a {
					-webkit-transform: translate3d(0,0,0);
					transform: translate3d(0,0,0);
				}

				figure:hover h4 {
					-webkit-transition-delay: 0.05s;
					transition-delay: 0.05s;
				}

				figure:hover p.icon-links a:nth-child(3) {
					-webkit-transition-delay: 0.1s;
					transition-delay: 0.1s;
				}

				figure:hover p.icon-links a:nth-child(2) {
					-webkit-transition-delay: 0.15s;
					transition-delay: 0.15s;
				}

				figure:hover p.icon-links a:first-child {
					-webkit-transition-delay: 0.2s;
					transition-delay: 0.2s;
				}
			}
		}
	}

// 8. Main Menu
// =========================
    .navbar {
        border-radius: 0px;
        padding-top: 1.25%;	
        padding-bottom: 1.25%;
        & .navbar-right {
        	margin-right: 0;
        }
		& .logo.navbar-brand {
			font-size: em(35px);
			padding-top: em(5.5px);
			margin-left: 0;
			color: $sub_fontColor;
			display: none;
			& span.h5 { 
				font-weight: 700;
				font-size: em(12px);
				font-family: $base_font-family;
				color: $sub_fontColor;
			}
		}
    }
    .stickly_navbar {
	    position: fixed;
	    min-width: 100%;
	    z-index: 15;
	    & .logo.navbar-brand {
	    	display: inline;
	    	color: darken($sub_fontColor, 75%);
	    	& span.h5 { 
	    		color: darken($sub_fontColor, 75%);	
	    	}
	    }
    }
	.navbar-default {
	    background-color: rgba($base_bgcolor, 0.05);
	    border-color: rgba($base_bgcolor, 0.25);
	    @include transition(all 600ms ease-in-out);
        & ul.navbar-nav li a {
        	color: $sub_fontColor;
        }
        & .navbar-toggle {
        	border-color: inherit;
        }
        & li.social_media {
			border-left: none;
    		line-height: 0;
		    padding-left: 0%;
		    padding-right: 0%;
			& a {
				font-size: em(25);
				padding-right: 3px;
				padding-top: 12px;
				& .social_text {
					font-size: em(14);
				}
			}

		}
	}
	.navbar-content-view {
		background-color: lighten($base_bgcolor, 100%);
	    border-color: rgba($base_bgcolor, 0.0);
	    border-bottom-color: lighten($base_bgcolor, 80%);
	    @include animation (fade 200ms ease-in);
		& .fa-inverse {
			color: darken($sub_fontColor, 75%);
		}
        & ul.navbar-nav li a {
        	color: darken($sub_fontColor, 75%);
        }
        & .navbar-toggle {
        	border-color: inherit;
        }
        & li.social_media {
			border-left: none;
    		line-height: 0;
    		padding-left: 0%;
    		padding-right: 0%;
			& a {
				font-size: em(25);
				padding-right: 3px;
				padding-top: 12px;
				& .social_text {
					font-size: em(14);
				}
			}
		}
	}
	@include keyframes(fade) {
		0% {
			@include opacity(0);
		}
		100% {
			@include opacity(1);
		}
	}

// 9. Title Section 
// =========================
	section.title.module {
		min-height: 85vh;
		@include mq($from: mobile, $until: desktop){
			min-height: 60vh;
		}
		@include padding(0 null 0 null);
	    color: $sub_fontColor;
	    border-right: none;
	    border-left: none;
	    @include margin(null null null null);

	    & a.btn, button.btn {
	    	text-decoration: none;
	    	color: inherit;
	    	display: block;
	    	margin-right: auto;
	    	margin-left: auto;
	    	@include transform(translateY(0px));
	    	background-color: transparent;
	    	border: 1px solid rgba($secondary_bgcolor, 0.5);
	    	border-radius: 2px;
		    padding: 15px;
		    width: 45%;
		    font-size: em(18px);
		    cursor: pointer;
			outline: none;
			position: relative;
		    transition: all 300ms;
			@include mq($from: mobile, $until: desktop){
				transform: translateY(10px);
				-webkit-transform: translateY(10px);
				width: 70%;
			}
		    @include animation (fadein 1.50s ease-in);
			@include keyframes(fadein) {
				0% {
					@include opacity(0);
					@include transform(translateY(900px));
				}
				100% {
					@include opacity(1);
				}
					
			}
		    &:after {
		    	content: '';
				position: absolute;
				z-index: -1;
				transition: all 300ms;
				width: 100%;
				height: 0;
				top: 0;
				left: 0;
				transition-delay: 0.20s;
		    	-webkit-transition-delay: 0.20s;
		    }
		    &:hover, &:active {
		    	background-color: $secondary_bgcolor;
		    	color: $base_fontColor;
				transition-delay: 0.10s;
		    	-webkit-transition-delay: 0.10s;
		    	font-weight: 700;
		    }
		    &:hover:after, &:active:after {
		    	background-color: $secondary_bgcolor;
		    	height: 100%;
		    	font-weight: 700;
		    }
	    } 

		& h1.logo {
			font-family: 'PRISTINA';
			@include transform(translateY(0px));
			font-size: em(125);
			line-height: 1.33;
			position: relative;
			padding-top: em(1.25);
			& span.h5 {
				font-weight: 700;
				font-size: em(12px);
				font-family: $base_font-family;
				color: $sub_fontColor;
			}
			@include mq($from: mobile, $until: desktop){
				font-size: em(50);
				transform: translateY(10px);
				-webkit-transform: translateY(10px);
			}
		    @include animation (fadein 0.90s ease-in);
			@include keyframes(fadein) {
				0% {
					@include opacity(0);
					@include transform(translateY(700px));
				}
				100% {
					@include opacity(1);
				}
					
			}
		}
		& .container { 
			@include padding(3.25% null 3.25% null);
		}
		& .fa-inverse {
			color: $sub_fontColor;
		}
		& {
			.video-btn {
				position: absolute;
				top: 85%;
				left: 2%;
			}
			video {
				position: fixed;
				top: 50%;
				left: 50%;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				z-index: -100;
				transform: translateX(-50%) translateY(-50%);
				background-image: url('../assets/img/Hello-World.png') no-repeat;
				background-size: cover;
				transition: 2s opacity;
			}
			.videoverlay {
				position: fixed;
				top: 50%;
				left: 50%;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				z-index: -100;
				transform: translateX(-50%) translateY(-50%);
				background-color: rgba($base_bgcolor, 0.45);
			}
		}
	}
// 10. Carousel
// =========================
	.carousel {
		& button.carousel-control.left {
			background-image: none;
			border: none;
		}

		& button.carousel-control.right {
			background-image: none;
			border: none;
		}
	}
// 11. Testimonials Carousel
// =========================
	.testimonials {
		&.carousel {
			& .carousel-control {
				width: 4.75%;
				height: em(43);
				top: 40%;
			}
			& button.carousel-control.left {
				background-color: $base_bgcolor;
			}

			& button.carousel-control.right {
				background-color: $base_bgcolor;

			}	
		}
		& .carousel-indicators li {
			background: lighten($base_bgcolor,60%);
		}
	}
// 12. Contact Section
// =========================
	section.contact {
		& p:nth-child(2) {
			margin-bottom: em(30px);
		}
	}
// 13. Content Section
// =========================
	section.content {
		& h2 {
			@include mq($from: mobile, $until: desktop){
				font-size: em(30);
			}
		}
		& h4 {
			@include mq($from: mobile, $until: desktop){
				font-size: em(20);
			}
		}
	}
// iv. Miscellaneous
// ************************
.center-block {
	float: none;
}