	//  Theme made my Mobiuszero. 
//  bulid version 0.5.0
//  
// -------------------------
// 	Table of contents
// 	-----------------
//  i. imports
// 	ii. variables
// 		- Background
// 		- Font Family 
// 		- Font Colors
// 		- Bullet Icons And Colors
//  iii. functions
//  iv. Miscellaneous
// 	1. Font 
// 	2. Layout
// 	3. Unordered & Ordered Lists
//  4. Footer
//  5. Modal
//  6. Portfolio Section
//  7. Main Menu 
//  8. Title Section 
// 	9. Contact Section 
// 10. Content Section
//  
// ----------------------------
// i. imports
// ************************
@import "bourbon"; //multipurpose functions
@import "bootstrap";
@import "font-awesome"; 
@import "web-fonts"; // Used with google fonts // 
@include web-fonts(("Fredoka One"), (("Open Sans": ("400","700")), ("Droid Sans": ("400","700"))));
@import "sass_mq"; //media queries function call
// ii. variables 
// ************************
// - Background
	$base_bgcolor: #212121;
	$secondary_bgcolor: #ffffff;
	$image_titlebg: url('../img/Hello-World.png');
	$portfolioSectionBG: url("../img/graphy-dark.png");
// - Font Family
	$base_font-family: 'Droid Sans', sans-serif;
	$heading_font-family: 'Open Sans', sans-serif;
	$fa-font-family:  'FontAwesome';
//  - Font Colors
	$base_fontColor: #212121;
	$sub_fontColor: #ffffff; 
	$heading_fontColor: #1c1c1c;
	$text-danger_fontColor: #d90000;
//  - Bullet color
	$fa-bullets_check_color: #128915;

// iii. functions
// ************************
	@mixin border-radius($box) {
		@include prefixer(border-radius, $box, webkit moz spec);
	}
	@mixin button-style($btn_color) {
		text-decoration: none;
		font-family: $heading_font-family;
		font-weight: 900;
	    white-space: normal;
		@include mq($from: mobile,$until:tablet){
			font-size: em(18);
		}
		border: none;
		position: relative;
	    @include transition(all 300ms ease);
	    @include box-shadow(0 6px darken($btn_color,25%));
		&:after {
			content: "";
			position: absolute;
			z-index: -1;
			@include transition(all 300ms ease);
		}
		&:hover {
			top: 2px;
			@include box-shadow(0 4px darken($btn_color,20%));
		}
		&:active {
			top: 6px;
			border: none;
			@include box-shadow(0 0 darken($btn_color,15%));
		}
	}

// 1. Font 
// ========================
	html {
		margin: 0;
		padding: 0;
	}
	body {
		font-family: $base_font-family;
		font-size: 16px;
		color: lighten($base_fontColor, 20%);
		font-kerning: normal;
	}
	p {
		font-size: em(18);
	}
	.module {
		& 	a {
			text-decoration: underline;
		}
	}
	@for $heading from 1 through 6 {
		h#{$heading},.h#{$heading} {
			font-family: $heading_font-family;
			font-weight: 800;
			line-height: 1.30;
			@include margin(null null 3% null);
		}
	}
	// I dont like the way I have done this and I have to revist this in the future. 
	$heading_sizes: ( 2: 40px, 3: 36px, 4: 26px, 5: 18px, 6: 16px );
	@each $heading, $value in $heading_sizes {
		h#{$heading}, .h#{$heading} {
			font-size: em($value);
			color: lighten($base_fontColor, 10%);
		}
	}
	// font styles
	.text-underline {
		text-decoration: underline;
	}
// 2. Layout
// =======================
	body {
	    overflow-x: hidden;
	}
	.module {
		width: 100%;
		@include padding(2.5% null 4.5% null);
	}
// title section  
	section.title { 
		background-color: darken($base_bgcolor, 5%);
		background-image: $image_titlebg;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
// main content section 
	section.content {
		min-height: 100vh;
		background-color: $secondary_bgcolor;
	}
// portfolio section 
	section.portfolio {
		background-color: darken($base_bgcolor, 5%); 
		background-attachment: fixed;
	}
//  blockquote 
blockquote {
	position: relative;
	margin-top: em(25);
	margin-bottom: em(25);
	& p::before {
		font-family: $fa-font-family; 
		content: "\f10d \00a0";
		font-size: em(31.5);
	    position: absolute;
	    top: em(-3px);
	    left: em(10px);
	    color: lighten($base_fontColor, 75%)
	}
	& p {
		padding-left: em(42.5px);
		text-align: justify;
	}
	& p::after {
		font-family: $fa-font-family; 
		content: "\00a0 \f10e";
		font-size: em(25.5);
		position: absolute;
		padding-left: em(5px);
	    color: lighten($base_fontColor, 75%)
	}
	& footer { // since I have used "footer" tag for the sites footer background. 
		background: rgba($base_bgcolor, 0.0); 
	}
}
// 3. Unordered & Ordered Lists
// =========================

	ul.fa-bullets li {
		list-style: none;
		@include margin (1.5% null null 3.5%);
	}

	ul.fa-bullets > li:before {
	    @include position(absolute, null null null 5.05%);
	    font-size: em(20);
		font-family: $fa-font-family;		
	}

	ul.fa-bullets.icon--check > li:before {
			content: '\f00c';
			color: $fa-bullets_check_color;
	}

	ul.fa-bullets.icon--circled-check > li:before {
			content: '\f058';
			color: $fa-bullets_check_color;
	}

	ol.big-number {
		margin-top: 2.5%;
		counter-reset: big-numbers;
		list-style: none;
		& li {
			margin-bottom: 5.5%;
			margin-left: 3.55%;
			&:last-child {
				margin-bottom: 0.5%;
			}
		}
		& li:before {
			content: counter(big-numbers) ". ";
			counter-increment: big-numbers;
			font-size: em(33);
			font-weight: 700;
			position: absolute;
			left: 4.0%;
			margin-top: -1.7%;
		}
	}
// 4. Footer 
// =========================
	footer {
		@include padding (1.25% null 1.25% null);
		color: $sub_fontColor;
		background: $base_bgcolor;
		& ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}
		& ul li {
			display: inline;
			@include padding (null 1% null 2%);
			border-left: 1px solid #fff;
		}
		& ul li:first-child{
			padding-left: 0%;
			border-left: none;
		}
		& li a {
			color: $sub_fontColor;
		}
		& p {
			text-align: justify;
		}

	}
// 5. Modals 
// =========================
	.modal-footer, .modal-header {
		border-top: none;
		border-bottom: none;
	}
	.modal-body {
		@include padding (1.5% 5.5% 4.5% 5.5%);
		& .btn-lg {
		    font-size: 24px;
		    font-weight: 700;
		}
		& p {
			@include margin(4.5% null null null);
		}
		& h2 {
			font-size: em(34);
			@include margin(null null 5.5% null);
		    @include margin (null null 5.5% null);
		}
	}
	.close {
		opacity: 1;
	}
// 6. Portfolio Section
// =========================
	section.portfolio {
		background-image: $portfolioSectionBG;
		& h2 {
			@include mq($from: mobile, $until: desktop){
				font-size: em(30);
			}
		}
		& div.col-md-10, div.col-md-10 h2 {
			color: $sub_fontColor;
		}
		& .container:nth-of-type(2){
			margin-top: 2.5%;
		}

		& div.portfolio-bloc {
			color: $sub_fontColor;
			position: relative;
			list-style: none;
			display: block;
			width: 100%;
			max-width: 380px;
			margin: auto;
			list-style: none;
			overflow: hidden;
		    animation-name: fade_in;
			animation-duration: 650ms;
			animation-timing-function: ease-in;

			@include keyframes(fade_in) {
				0% {
					@include opacity(0);
					@include transform(translateY(75px));
				}
				100% {
					@include opacity(1);
					@include transform(translateY(0px));
				}	
			}
		}
		& .portfolio-elememts {
			& div.row, div.row div.col-md-12, div.col-md-12 * {
				margin: 0;
				padding: 0;
			}
			& div.col-md-4 {
				padding: 2.5px;
			}
		}
	}
// 7. Main Menu
// =========================
	.navbar {
        border-radius: 0px;
        padding-top: 1.25%;	
        padding-bottom: 1.25%;
        margin-bottom: 0;
        & .navbar-right {
        	margin-right: 0;
        }
		& .logo.navbar-brand {
			display: none;
		}
    }
    .stickly-navbar {
	    position: fixed;
	    min-width: 100%;
	    z-index: 15;
	    & .logo.navbar-brand {
	    	display: block;
			font-size: em(35px);
			@include mq($from: mobile, $until: desktop){
			    padding-top: 3.25%;
			    font-size: 1.5625em;
			}
			padding-top: em(5.5px);
			margin-left: 0;
	    	font-family: 'Fredoka One','Roboto',san-serif;
	    	text-decoration: none;
	    	font-weight: 100;
	    	color: darken($sub_fontColor, 75%);
	    }
    }
	.navbar-default {
		position: absolute;
		width: 100%;
		z-index: 100;
	    background-color: rgba($base_bgcolor, 0.05);
	    border-color: rgba($base_bgcolor, 0.25);
	    @include transition(all 600ms ease-in-out);
        & ul.navbar-nav li a {
        	color: $sub_fontColor;
        	text-decoration: none;
        }
        & .navbar-toggle {
        	border-color: inherit;
        }
        & ul.social_media {
			border-left: none;
    		line-height: 0;
		    padding-left: 3%;
		    & li {
		    	display: inline;
		    }
			& a {
				font-size: em(18px);
			}

		}
	}
	.navbar-content-view {
		background-color: lighten($base_bgcolor, 100%);
	    border-color: rgba($base_bgcolor, 0.0);
	    border-bottom-color: lighten($base_bgcolor, 80%);
	    @include animation (fade 200ms ease-in);
		& .fa-inverse {
			color: $sub_fontColor;
		}
        & ul.navbar-nav li a {
        	color: darken($sub_fontColor, 75%);
        	text-decoration: none;
        }
        & .navbar-toggle {
        	border-color: inherit;
           	background: $base_bgcolor;
        }
	}
	@include keyframes(fade) {
		0% {
			@include opacity(0);
		}
		100% {
			@include opacity(1);
		}
	}
    
// 8. Title Section 
// =========================
	section.title.module {
		
		@include padding(0 null 0 null);
	    color: $sub_fontColor;
	    border-right: none;
	    border-left: none;
		& a.btn, button.btn {
			font-family: $heading_font-family;
			text-decoration: none;
			color: inherit;
			display: block;
			margin-right: auto;
			margin-left: auto;
			@include transform(translateY(0px));
			background-color: transparent;
			border: 5px solid rgba($secondary_bgcolor, 1);
			border-radius: 2px;
		    padding: 15px;
		    width: 45%;
		    text-transform: uppercase;
		    font-weight: 900;
		    font-size: em(18px);
		    cursor: pointer;
			outline: none;
			position: relative;
		    transition: all 300ms;
			@include mq($from: mobile, $until: desktop){
				transform: translateY(10px);
				-webkit-transform: translateY(10px);
				width: 70%;
			}
		    @include animation (fadein 1.50s ease-in);
			@include keyframes(fadein) {
				0% {
					@include opacity(0);
					@include transform(translateY(900px));
				}
				100% {
					@include opacity(1);
				}
					
			}
		    &:after {
		    	content: '';
				position: absolute;
				z-index: -1;
				transition: all 300ms;
				width: 100%;
				height: 0;
				top: 0;
				left: 0;
				transition-delay: 0.20s;
		    	-webkit-transition-delay: 0.20s;
		    }
		    &:hover, &:active {
		    	background-color: $secondary_bgcolor;
		    	color: $base_fontColor;
				transition-delay: 0.10s;
		    	-webkit-transition-delay: 0.10s;
		    	font-weight: 700;
		    }
		    &:hover:after, &:active:after {
		    	background-color: $secondary_bgcolor;
		    	height: 100%;
		    	font-weight: 700;
		    }
		} 

		& h1.logo { 	
			font-family: 'Fredoka One','Roboto',san-serif;
			font-size: em(90);
			line-height: 1.33;
			font-weight: 100;
			margin-top: 0;
			@include mq($from: tablet, $until: desktop){
				font-size: em(70);
			}
			@include mq($from: mobile, $until: tablet){ 
				font-size: em(50);
			}

		}
		// To make sure the logo is centered vertically and horizontally on the module. no matter how much I say otherwise. 
		& .logo-placement {
			width: 100%;
			height: 100vh; 
			display: table;
			& .logo-holder {
				display: table-cell;
				vertical-align: middle;
			}
		}
		& .fa-inverse {
			color: $sub_fontColor;
		}
	}
// 9. Contact Section
// =========================
	#urldomain, #message-subject {
		display: none;
	}
	section.contact {
	    padding-top: 3.25%;
		& .contact_form {
			margin-top: 2.5%;
		}
		& h4 {
			margin-top: 3.5%;
			@include mq($from: mobile, $until: tablet ){
				margin-top: 10%;
			}
		}
		& .lead {
			font-size: em(23px);
		}
		& .alert {
		    padding: 8px 15px;
		}
		& ul.social_media {
			padding: 0;
			margin: 0;
			list-style: none; 
			& li {
				display: inline;
				font-size: em(50px);
				padding-right: 0.45em;
				& a.social-media-links {
					color: lighten($base_fontColor,25%);
					transition: all 0.5s;
					-webkit-transition: all 0.5s;
					&.github {
						color: #913399;
					}
					&.linkedin {
						color: #0077B5;
					}
					&.googleplus {
						color: #dd4b39;
					}
					&.twitter {
						color: #3cf;
					}
					&.codepen {
						color: #000;
					}
				}
			} 
		}
		& .thesuccessmessage {
			& i.fa-check-circle {
				color: #2BBF13;
			}
		}
		& .help-block ul li {
			font-size: em(18px);
			font-weight: 700;
			text-transform: uppercase;
		}
		& p:nth-child(2) {
			margin-bottom: em(30px);
		}
		& .form-control {
		    height: 48px;
		    padding: 5px 12px; 
		} 
		& textarea.form-control {
		    height: auto;
		    padding: 8px 12px;
		}
		button.btn-primary {
			@include button-style($btn-primary-bg);
			&.btn-lg {
				font-size: em(22px);
			}
		}
	}
// 10. Content Section
// =========================
	section.content {
		& h2 {
			font-size: em(60px);
		}
		& h2 {
			@include mq($from: mobile, $until: desktop){
				font-size: em(30);
			}
		}
		& h4 {
			@include mq($from: mobile, $until: desktop){
				font-size: em(20);
			}
		}
		&.about article .content-item {
			display: table;	
			width: 100%;
			height: 90%;
			& .content-item {
		 		display: table-cell;
		 		vertical-align: middle;
			}
		}
	}
// iv. Miscellaneous
// ************************
.center-block {
	float: none;
}