	<section id="about" class="about content module">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
		            <h2>A few words about me.</h2> 
		            <h4>I am a web designer that is based in Florida. My main focus is design minimalism. Its my obsession.</h4>
		            <p>I create beautiful, usable, professional websites using best practice accessibility and the latest W3C web standards guidelines, resulting in semantic and SEO friendly webpages. All my websites are lovingly hand coded in HTML 5 and CCS3.</p>
		            <p>In my toolbox I use Photoshop, Illustrator, and Fireworks for layout and asset building. Dreamweaver for email layout and coding. Node and Grunt for page building and modularization for different setups with the very kind help of sublime text 3. Finally, I use frameworks like bootstrap to help me in my quest to make outstanding looking websites.</p>
		            <p>I am currently teaching myself more php and javascript so I can create wordpress themes or more interesting looking pages. Though my two year plan that I have will have me circling around C++. I may dibble in Ruby on Rails. Stay tuned by <a data-menu="contact" href="#contact">following me.</a></p>
		            <p>I have practical knowledge of Infusionsoft to create small to large scale marketing funnels. So, if you need help with getting your marketing funnel in order I can be more than happy to help out.</p> 
				</div>
			</div>
		</div>
	</section>