	<section id="portfolio" class="portfolio content module">
		<div class="container">
			<div class="row"> 
				<div class="col-md-10 col-md-offset-1">
					<h2>My Portfolio</h2>
					<p>Here's the projects that I have worked on over the last few years. If you like what you see or would like to know what else that I have done <a data-menu="contact" href="#contact">let me know.</a></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-4" >
							<img src="http://lorempixel.com/400/300/city/" alt="lorem ipsum pixel" width="385" height="325" class="img-responsive waypoint hidden" />
						</div>
						<div class="col-md-4">
							<img src="http://lorempixel.com/400/300/city/" alt="lorem ipsum pixel" width="385" height="325" class="img-responsive waypoint hidden" />
						</div>
						<div class="col-md-4">
							<img src="http://lorempixel.com/400/300/city/" alt="lorem ipsum pixel" width="385" height="325" class="img-responsive waypoint hidden" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-4" >
							<img src="http://lorempixel.com/400/300/city/" alt="lorem ipsum pixel" width="385" height="325" class="img-responsive waypoint hidden" />
						</div>
						<div class="col-md-4">
							<img src="http://lorempixel.com/400/300/city/" alt="lorem ipsum pixel" width="385" height="325" class="img-responsive waypoint hidden" />
						</div>
						<div class="col-md-4">
							<img src="http://lorempixel.com/400/300/city/" alt="lorem ipsum pixel" width="385" height="325" class="img-responsive waypoint hidden" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>  