	<section id="portfolio" class="portfolio content module">
		<div class="container">
			<div class="row"> 
				<div class="col-md-10 col-md-offset-1">
					<h2>My Portfolio</h2>
					<p>Here are some of my projects that I had worked on. Take a look and let me know what you think. I'll try to send updates on twitter if I have anything new that I have created that I want to add to my portfolio. You can also find me in codepen. I'll be doing some unique experiments on there.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-4" >
							<div class="waypoint hidden">
								<figure>
									<img src="assets/img/world-chaos.png" alt="Opt-in Page: World Chaos" width="380" height="275" />
									<figcaption>
										<h5 class="text-center">Full Width Opt-in Page</h4>
										<p class="icon-links"><a href="#"><i class="fa fa-external-link-square"></i></a> <a href="#"><i class="fa fa-info-circle"></i></a> <a href="#"><i class="fa fa-eye"></i></a></p>
										<p class="description">Full width opt-in page that I have created for the for a lead generation campaign.</p>
									</figcaption>
								</figure>
							</div>
						</div>
						<div class="col-md-4" >
							<div class="waypoint hidden">
								<figure>
									<img src="assets/img/theweeklyoptionstrader.png" alt="Opt-in Page: World Chaos" width="380" height="275" />
									<figcaption>
										<h5 class="text-center">WordPress Site</h5>
										<p class="icon-links"><a href="#"><i class="fa fa-external-link-square"></i></a> <a href=Trader"#"><i class="fa fa-info-circle"></i></a> <a href="#"><i class="fa fa-eye"></i></a></p>
										<p class="description">A WordPress child theme that I have created for a financial magazine news site</p>
									</figcaption>
								</figure>
							</div>
						</div>
						<div class="col-md-4" >
							<div class="waypoint hidden">
								<figure>
									<img src="assets/img/24hourprofit.png" alt="Opt-in Page: World Chaos" width="380" height="275" />
									<figcaption>
										<h5 class="text-center">Fixed Width Opt-in Page</h5>
										<p class="icon-links"><a href="#"><i class="fa fa-external-link-square"></i></a> <a href="#"><i class="fa fa-info-circle"></i></a> <a href="#"><i class="fa fa-eye"></i></a></p>
										<p class="description">A fixed width opt-in page that I have created for the for a lead generation campaign.</p>
									</figcaption>
								</figure>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-4" >
							<div class="waypoint hidden">
								<figure>
									<img src="assets/img/theweeklyoptionstrader_unsub.png" alt="Opt-Out Page: The Weekly Options Trader" width="380" height="275" />
									<figcaption>
										<h5 class="text-center">Ongage Opt-Out Page</h5>
										<p class="icon-links"><a href="#"><i class="fa fa-external-link-square"></i></a> <a href="#"><i class="fa fa-info-circle"></i></a> <a href="#"><i class="fa fa-eye"></i></a></p>
										<p class="description">A unsubscribe page that I have created for to be used with the CRM called Ongage.</p>
									</figcaption>
								</figure>
							</div>
						</div>
						<div class="col-md-4" >
							<div class="waypoint hidden">
								<figure>
									<img src="assets/img/investing-lab_salespage.png" alt="Opt-in Page: World Chaos" width="380" height="275" />
									<figcaption>
										<h5 class="text-center">Fixed Width Sales Page</h5>
										<p class="icon-links"><a href="#"><i class="fa fa-external-slink-square"></i></a> <a href="#"><i class="fa fa-info-circle"></i></a> <a href="#"><i class="fa fa-eye"></i></a></p>
										<p class="description">A fixed width sales page created for a financial investment education site.</p>
									</figcaption>
								</figure>
							</div>
						</div>
						<div class="col-md-4" >
							<div class="waypoint hidden">
								<figure>
									<img src="assets/img/investingsignal_member_subscribe_minsite.png" alt="Investing Signal member subscribe minsite" width="380" height="275" />
									<figcaption>
										<h5 class="text-center">Mini Site</h5>
										<p class="icon-links"><a href="#"><i class="fa fa-external-link-square"></i></a> <a href="#"><i class="fa fa-info-circle"></i></a> <a href="#"><i class="fa fa-eye"></i></a></p>
										<p class="description">A mini site that I have created for a site called investing signal, to generate leads with a google ad words campaign.</p>
									</figcaption>
								</figure>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>  