	<section id="portfolio" class="portfolio content module">
		<div class="container">
			<div class="row"> 
				<div class="col-md-10 col-md-offset-1">
					<h2>My Portfolio</h2>
					<p>Here's the projects that I have worked on over the last few years. If you like what you see or would like to know what else that I have done <a data-menu="contact" href="#contact">let me know.</a></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-4" >
							<div class="waypoint hidden">
								<figure>
									<img src="http://lorempixel.com/400/300/city/" alt="lorem" />
									<figcaption>
										<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod modo consequat.</p>
										<h4 class="text-center">Lorem ipsum dolor sit amet</h4>
										<p class="icon-links"><a href="#"><i class="fa fa-external-link-square"></i></a> <a href="#"><i class="fa fa-info-circle"></i></a> <a href="#"><i class="fa fa-eye"></i></a></p>
									</figcaption>
								</figure>
							</div>
						</div>
						<div class="col-md-4" >
							<div class="waypoint hidden">
								<figure>
									<img src="http://lorempixel.com/400/300/city/" alt="lorem" />
									<figcaption>
										<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod modo consequat.</p>
										<h4 class="text-center">Lorem ipsum dolor sit amet</h4>
										<p class="icon-links"><a href="#"><i class="fa fa-external-link-square"></i></a> <a href="#"><i class="fa fa-info-circle"></i></a> <a href="#"><i class="fa fa-eye"></i></a> </p>
									</figcaption>
								</figure>
							</div>
						</div>
						<div class="col-md-4" >
							<div class="waypoint hidden">
								<figure>
									<img src="http://lorempixel.com/400/300/city/" alt="lorem" />
									<figcaption>
										<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod modo consequat.</p>
										<h4 class="text-center">Lorem ipsum dolor sit amet</h4>
										<p class="icon-links"><a href="#"><i class="fa fa-external-link-square"></i></a> <a href="#"><i class="fa fa-info-circle"></i></a>  <a href="#"><i class="fa fa-eye"></i></a></p>
									</figcaption>
								</figure>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4" >
							<div class="waypoint hidden">
								<figure>
									<img src="http://lorempixel.com/400/300/city/" alt="lorem" />
									<figcaption>
										<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod modo consequat.</p>
										<h4 class="text-center">Lorem ipsum dolor sit amet</h4>
										<p class="icon-links"><a href="#"><i class="fa fa-external-link-square"></i></a> <a href="#"><i class="fa fa-info-circle"></i></a> <a href="#"><i class="fa fa-eye"></i></a></p>
									</figcaption>
								</figure>
							</div>
						</div>
						<div class="col-md-4" >
							<div class="waypoint hidden">
								<figure>
									<img src="http://lorempixel.com/400/300/city/" alt="lorem" />
									<figcaption>
										<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod modo consequat.</p>
										<h4 class="text-center">Lorem ipsum dolor sit amet</h4>
										<p class="icon-links"><a href="#"><i class="fa fa-external-link-square"></i></a> <a href="#"><i class="fa fa-info-circle"></i></a> <a href="#"><i class="fa fa-eye"></i></a> </p>
									</figcaption>
								</figure>
							</div>
						</div>
						<div class="col-md-4" >
							<div class="waypoint hidden">
								<figure>
									<img src="http://lorempixel.com/400/300/city/" alt="lorem" />
									<figcaption>
										<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod modo consequat.</p>
										<h4 class="text-center">Lorem ipsum dolor sit amet</h4>
										<p class="icon-links"><a href="#"><i class="fa fa-external-link-square"></i></a> <a href="#"><i class="fa fa-info-circle"></i></a>  <a href="#"><i class="fa fa-eye"></i></a></p>
									</figcaption>
								</figure>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>  