<div id="main-menu" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand logo" href="#title_section" data-menu="main-menu-link">&#60;MobiusZero &#92;&#62;</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".mainmenu">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars fa-lg fa-inverse"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse mainmenu">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#title_section" data-menu="main-menu-link">Home</a></li>
                <li><a href="#about" data-menu="main-menu-link">About</a></li>
                <li><a href="#portfolio" data-menu="main-menu-link">Portfolio</a></li>
                <li><a href="#contact" data-menu="main-menu-link">Contact</a></li>
            </ul>
        </div>
    </div>
</div>