<div id="main_menu" class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand logo" href="#title_section" data-menu="main_menu_link"><span class="h5">&#60;</span><span>MobiusZero </span><span class="h5">&#92;&#62;</span></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar_mainmenu">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars fa-lg fa-inverse"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar_mainmenu">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#title_section" data-menu="main_menu_link">Home</a></li>
                <li><a href="#about" data-menu="main_menu_link">About</a></li>
                <li><a href="#portfolio" data-menu="main_menu_link">Portfolio</a></li>
                <li><a href="#contact" data-menu="main_menu_link">Contact</a></li>
                <li class="social_media"><a href="https://github.com/zero12o"><i class="fa fa-github"></i><span class="hidden-lg hidden-md social_text"> Github</span></a></li>
                <li class="social_media"><a href="https://www.linkedin.com/in/carlos-vargas-16b41b107"><i class="fa fa-linkedin-square"></i><span class="hidden-lg hidden-md social_text"> Linkedin</span></a></li>
                <li class="social_media"><a href="https://plus.google.com/u/1/109886193538627695155/about"><i class="fa fa-google-plus-square"></i><span class="hidden-lg hidden-md social_text"> Google Plus</span></a></li>
                <li class="social_media"><a href="https://twitter.com/mobiusZero12o"><i class="fa fa-twitter-square"></i><span class="hidden-lg hidden-md social_text"> Twitter</span></a></li>
            </ul>
        </div>
    </div>
</div>